@charset "UTF-8";

@font-face {
    font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "DMSans";
  src: url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectVisualSans";
  src: url("../fonts/Adspect Visual Sans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectVisualSans";
  src: url("../fonts/Adspect Visual Sans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectVisualSans";
  src: url("../fonts/Adspect Visual Sans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectSansText";
  src: url("../fonts/AdspectSansText-200.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectSansText";
  src: url("../fonts/AdspectSansText-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectSansText";
  src: url("../fonts/AdspectSansText-400.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "AdspectSansText";
  src: url("../fonts/AdspectSansText-600.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
  /* 1 */
    height: 0;
  /* 1 */
    overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
  /* 1 */
    text-decoration: underline;
  /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
  /* 1 */
    font-size: 100%;
  /* 1 */
    line-height: 1.15;
  /* 1 */
    margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
  /* 1 */
    color: inherit;
  /* 2 */
    display: table;
  /* 1 */
    max-width: 100%;
  /* 1 */
    padding: 0;
  /* 3 */
    white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
    outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
  /* 1 */
    font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    max-width: 100%;
    position: relative;
}

html {
    font-size: 2.565vw;
    height: 100%;
}

body {
    background: #fff;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.4;
    font-family: "AdspectVisualSans";
    font-weight: 500;
    overflow-x: hidden;
}

.my-body-noscroll-class {
    overflow: hidden;
}

.my-body-noscroll-class body {
    overflow: hidden;
}

img {
    max-width: 100%;
}

a,
button,
.img-svg,
.modal__open {
    outline: none;
    border: 0;
    cursor: pointer;
    background: none;
    transition: 320ms;
    text-decoration: none;
}

.img-svg path,
.img-svg line,
.img-svg circle {
    transition: 320ms;
}

/* Bootstrap 4 */
.steps-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    html {
        font-size: 0.521vw;
    }

    .steps-container {
        max-width: 179rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
/* 
@media screen and (max-width: 575px) {
    .pc {
        display: none;
    }
}

@media screen and (min-width: 575px) {
    .xs {
        display: none;
    }
} */

.slick-slide {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@-webkit-keyframes animate_leaf {
    0% {
        transform: translateY(0) rotate(1deg);
    }

    50% {
        transform: translateY(2rem) rotate(-2deg);
    }

    100% {
        transform: translateY(0) rotate(1deg);
    }
}

@keyframes animate_leaf {
    0% {
        transform: translateY(0) rotate(1deg);
    }

    50% {
        transform: translateY(2rem) rotate(-2deg);
    }

    100% {
        transform: translateY(0) rotate(1deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

section {
    position: relative;
    z-index: 5;
}

.steps-container {
    position: relative;
    z-index: 5;
}

.section__bg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 192rem auto;
    background-position: center top;
    z-index: -100;
}

@media screen and (max-width: 575px) {
    .section__bg {
        background-size: 39.1rem auto;
    }
}

@media screen and (max-width: 575px) {
    .section__bg.pc {
        display: none;
    }
}

@media screen and (min-width: 575px) {
    .section__bg.xs {
        display: none;
    }
}

 /* @media screen and (max-width: 575px) {
    .pc {
        display: none;
    }
} */

/* @media screen and (min-width: 575px) {
    .xs {
        display: none;
    }
} */



.mobile__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    transform: translateY(-100%);
    transition: 320ms;
    opacity: 0;
    pointer-events: none;
}

.mobile__menu.active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
}

.mobile__menu-close {
    width: 2rem;
    position: absolute;
    top: 2.8rem;
    right: 2.8rem;
}

.mobile__menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mobile__menu .menu .link {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.t-title {
    font-weight: 500;
    font-size: 3.8rem;
    line-height: 1.36842;
    letter-spacing: 0.06em;
    color: #090f16;
}

.d-title {
    font-weight: 500;
    font-size: 4.6rem;
    line-height: 1;
    text-align: center;
    color: #000;
}

.t-btn {
    border-radius: 2.7rem;
    background: #0056fd;
    color: #fff;
    padding: 1.3rem 4.25rem;
}

.t-btn:hover {
    background: #004ad9;
}

.d-btn {
    border-radius: 6.1rem;
    padding: 3.9rem 6rem;
    -webkit-backdrop-filter: blur(30.33175px);
    backdrop-filter: blur(30.33175px);
    box-shadow: 0 11px 38px 0 rgba(0, 0, 0, 0.25);
    background: #0056fd;
    font-weight: 500;
    font-size: 3.412rem;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    position: relative;
}

.d-btn:hover {
    background: #004ad9;
}

.pulse {
    position: relative;
    box-shadow: none;
    -webkit-animation-name: pulseButton;
    animation-name: pulseButton;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

.pulse::before {
    content: '';
    /* right: -2rem; */
    /* bottom: -2rem; */
    /* opacity: .25; */
    /* opacity: 0; */
    /* background-color: #0058ff; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10rem;
    z-index: -1;
    -webkit-animation-name: pulseTwo;
    animation-name: pulseTwo;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    
}

@keyframes pulseButton {
    0% {
        box-shadow: 0;
    }

    40% {
        box-shadow: 0 0 0 1.5rem rgba(0, 88, 255, 0.1);
    }

    to {
        box-shadow: 0 0 0 2rem rgba(0, 88, 255, 0);
    }
}


@keyframes pulseTwo {
    0% {
        box-shadow: 0;
    }

    40% {
        box-shadow: 0 0 0 1.5rem rgba(0, 88, 255, 0.2);
    }

    to {
        box-shadow: 0 0 0 4rem rgba(0, 88, 255, 0);
    }
}

@media screen and (max-width : 575px) {

    @keyframes pulseButton {
        0% {
            box-shadow: 0;
        }
    
        40% {
            box-shadow: 0 0 0 1rem rgba(0, 88, 255, 0.1);
        }
    
        to {
            box-shadow: 0 0 0 1.5rem rgba(0, 88, 255, 0);
        }
    }

    
    @keyframes pulseTwo {
        0% {
            box-shadow: 0;
        }

        40% {
            box-shadow: 0 0 0 1.5rem rgba(0, 88, 255, 0.2);
        }

        to {
            box-shadow: 0 0 0 2rem rgba(0, 88, 255, 0);
        }
    }
}

.steps-section {
    height: auto;
    padding: 19rem 0 10rem 0;
    text-align: center;
    top: -2px;
    z-index: 10;
}


@media screen and (max-width: 575px) {
    .steps-section {
        height: auto;
        padding: 6rem 0 5rem 0;
    }
}

.steps-section .t-btn {
    font-size: 3.1rem;
    font-weight: 500;
    padding: 3.5rem 10rem;
    border-radius: 6rem;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 575px) {
    .steps-section .t-btn {
        padding: 1.7rem;
        width: 100%;
        border-radius: 10rem;
        display: block;
    }
}

.steps-section .t-btn .btn-title {
    font-weight: 700;
    font-size: 1.8rem;
}

.steps-section .t-btn .btn-subtitle {
    font-size: 1.1rem;
    font-family: "AdspectSansText";
    font-weight: 400;
    color: #D0D0D0;
}

.steps__box {
    position: relative;
    padding-left: 5rem;
    width: 103rem;
    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 575px) {
    .steps__box {
        width: 100%;
        padding-left: 1rem;
    }
}

.steps__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.1);
    margin-bottom: 16rem;
    transition: 420ms;
    position: relative;
    z-index: 20;
}

@media screen and (max-width: 575px) {
    .steps__item {
        margin-bottom: 7rem;
    }
}

.steps__item.active {
    color: #FFFFFF;
}

.steps__item .number {
    width: 55rem;
    flex-shrink: 0;
    font-size: 4.6rem;
    font-weight: 700;
    position: relative;
}

@media screen and (max-width: 575px) {
    .steps__item .number {
        width: 13.5rem;
        font-size: 2.4rem;
    }
}

.steps__item .text {
    width: 49rem;
}

@media screen and (max-width: 575px) {
    .steps__item .text {
        width: auto;
    }
}

.steps__item .text .title {
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
    font-weight: 700;
}

@media screen and (max-width: 575px) {
    .steps__item .text .title {
        font-size: 1.8rem;
    }
}

.steps__item .text .subtitle {
    font-family: "AdspectSansText";
    font-weight: 400;
}

@media screen and (max-width: 575px) {
    .steps__item .text .subtitle {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.steps__line {
    position: absolute;
    width: 0.5rem;
    top: 0;
    left: 35rem;
    height: 120%;
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 575px) {
    .steps__line {
        width: 0.3rem;
        top: -6rem;
        left: 11rem;
        height: 120%;
    }
}

.steps__line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #070D19 0%, #0056fd 100%);
    z-index: 4;
}

.steps__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 25rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #070D19 0%, #0056fd 100%);
    z-index: 4;
}

@media screen and (max-width: 575px) {
    .steps__line::after {
        height: 13rem;
    }
}

.steps__line .line {
    display: block;
    width: 100%;
    height: 15rem;
    background: #0056FD;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    left: 0;
}

@media screen and (max-width: 575px) {
    .steps__line .line {
        height: 20rem;
    }
}

.circle {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: #080D17;
    position: absolute;
    z-index: 10;
    left: 28rem;
    top: 1.3rem;
    padding: 1.3rem;
}

@media screen and (max-width: 575px) {
    .circle {
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem;
        left: 8.4rem;
        top: 0rem;
    }
}

.circle.circle5 {
    background: #090F1B;
}

.circle.circle6 {
    background: #08101D;
}

.circle span {
    display: block;
    background: #1C1C1C;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 420ms;
}

.circle.active span {
    background: #fff;
}

@media screen and (max-width: 575px) {
    .steps-section .t-btn {
        font-size: 1.8rem;
    }
}