/*Хедер*/
header {
  background: url('/static/imgs/bg/header_bg.jpg') center/cover no-repeat;
  position: relative;
  color: #ffffff; /*Цвет текста - белый для контраста*/
  padding: 255px 0 150px 0;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 44, 71, 0.5); /*Полупрозрачный тёмно-синий оверлей*/
  z-index: 0;
}

header .header-content {
  position: relative;
  z-index: 1; /*Чтобы контент был выше оверлея*/
}

header h1 {
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header .tagline {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

header .tagline span .highlight {
  color: #0056fd;
  font-weight: 700;

}

header .features {
  font-size: 22px;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

header .btn {
  background-color: #0056fd;
  color: #ffffff;
  padding: 18px 50px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;
}

header .btn:hover {
  background-color: #0046d5;
}

header .stats {
  position: relative;
  margin-top: 65px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

header .stats span {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
}

/*Медиа-запросы*/
@media (max-width: 992px) {
  header {
    padding: 200px 0 120px 0;
  }

  header h1 {
    font-size: 56px;
  }

  header .tagline {
    font-size: 28px;
  }

  header .features {
    font-size: 20px;
  }

  header .btn {
    font-size: 20px;
    padding: 15px 40px;
  }

  header .stats {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 150px 0 100px 0;
  }

  header h1 {
    font-size: 44px;
  }

  header .tagline {
    font-size: 24px;
  }

  header .features {
    font-size: 19px;
  }

  header .stats {
    font-size: 20px;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 120px 0 80px 0;
  }

  header h1 {
    font-size: 32px;
  }

  header .tagline {
    font-size: 20px;
  }

  header .features {
    font-size: 17px;
  }

  header .btn {
    font-size: 18px;
    padding: 12px 35px;
  }

  header .stats {
    font-size: 18px;
    margin-top: 40px;
  }
}

#header-button {
  font-size: 22px;
  padding: 18px 50px;
  border-radius: 50px;
  text-decoration: none;
  background-color: #0056fd;
  color: #ffffff;
}

#header-button:hover {
  background-color: #0046d5;
}

@media screen and (max-width: 575px) {
  #header-button {
    font-size: 16px;
    padding: 12px 35px;
  }
}

.main-heading {
  font-size: 24px;
}

